name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
     
    - name: get Buffalo Framwork
      run: go get -u github.com/gobuffalo/buffalo/buffalo
      
    - name: what is the current directory 
      run: pwd
    
    - name: what is in the current directory
      run: ls
      
    - name: check for buffalo
      run: buffalo build -o ~/RobsTestRepo/rpm
